__pycache__/
*.pyc
.idea/
experiments/dataset/
dataset/
paper/laftju.aux
paper/laftju.log
paper/laftju.out
paper/laftju1.pdf
experiments/results/*.json
experiments/results/*.txt
experiments/results/*.png
experiments/results/*.pdf
*.egg-info/
.DS_Store
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
